<div>
    <app-aircrafts-navbar></app-aircrafts-navbar>
    <ng-container *ngIf="aircraftsState$ | async as state" [ngSwitch]="state.dataState">
        <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
            <div class="p-2">Initial State</div>
        </ng-container>
        <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
            <div class="p-2">Loading</div>
        </ng-container>
        <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
            <div class="p-2 text-danger">{{state.errorMessage}}</div>
        </ng-container>
        <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
            <table class="table">
                <tr>
                    <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
                </tr>
                <tr *ngFor="let aircraft of state.aircrafts">
                    <td>{{aircraft.msn}}</td>
                    <td>{{aircraft.prog}}</td>
                    <td>{{aircraft.design}}</td>
                    <td>{{aircraft.development}}</td>
                    <td>
                        <button (click)="onSelectAircraft(+aircraft.msn)">
                          {{ aircraft.msn }} - {{ aircraft.prog }}
                        </button></td>
                </tr>
            </table>
        </ng-container>
    </ng-container>
    <!--
    <app-aircrafts-navbar (eventEmitter)="onActionEvent($event)"></app-aircrafts-navbar>
    <ng-container *ngIf="aircrafts$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="dataStateEnum.LOADING">
            <div class="p-2">Loading</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.LOADED">
            <div class="p-2">Loaded</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.ERROR">
            <div class="p-2 text-danger">{{result.errorMessage}}</div>
        </ng-container>
        <table class="table">
            <tr>
                <th>Id</th><th>Programme</th><th>Etude</th><th>Conception</th>
            </tr>
            <tr *ngFor="let aircraft of result.aircrafts">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>
        </table>
        <div>
            <ul>
              <li *ngFor="let aircraft of result.aircrafts">
                <button (click)="onSelectAircraft(+aircraft.msn)">
                  {{ aircraft.msn }} - {{ aircraft.prog }}
                </button>
              </li>
            </ul>
          </div>
    </ng-container>
    -->


    <!--option 1 - 2
    <ng-container *ngIf="error">
        <div class="p-2 text-danger">{{ error }}</div>
    </ng-container>
    -->
    <!--option 1
        <ng-container *ngIf="aircrafts">
    -->
    <!--option 2
    <ng-container *ngIf="aircrafts$">
    -->
    <!--option 1-2
    
        <table class="table table-striped">
            <tr>
                <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
            </tr>
    -->
            <!--option 1
            <tr *ngFor="let aircraft of aircrafts">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>            
            -->
            <!--option 2
            
            <tr *ngFor="let aircraft of aircrafts$ | async">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>-->
        <!--option 1-2
        </table>
    </ng-container>-->
</div>