<div>
    <ul class="navbar navbar-nav">
        <li>
            <button class="btn btn-outline-info m-2" (click)="getAllAircrafts()">Tous les Avions</button>
            <button class="btn btn-outline-info m-2" (click)="getDesignedAircrafts()">Avions en étude</button>
            <button class="btn btn-outline-info m-2" (click)="getDevelopmentAircrafts()">Avions en construction</button>
        </li>
    </ul>
    <ng-container *ngIf="aircraftsState$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="dataStateEnum.LOADING">
            <div class="p-2">Loading</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.LOADED">
            <div class="p-2">Loaded</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.ERROR">
            <div class="p-2 text-danger">{{result.errorMessage}}</div>
        </ng-container>
        <table class="table">
            <tr>
                <th>Id</th><th>Programme</th><th>Etude</th><th>Conception</th>
            </tr>
            <tr *ngFor="let aircraft of result.aircrafts">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>
        </table>
        <div *ngIf="aircraftsState$ | async as state">
            <ul>
              <li *ngFor="let aircraft of state.aircrafts">
                <button (click)="onSelectAircraft(+aircraft.msn)">
                  {{ aircraft.msn }} - {{ aircraft.prog }}
                </button>
              </li>
            </ul>
          </div>
    </ng-container>
    <!--option 1 - 2
    <ng-container *ngIf="error">
        <div class="p-2 text-danger">{{ error }}</div>
    </ng-container>
    -->
    <!--option 1
        <ng-container *ngIf="aircrafts">
    -->
    <!--option 2
    <ng-container *ngIf="aircrafts$">
    -->
    <!--option 1-2
    
        <table class="table table-striped">
            <tr>
                <th>Id</th><th>Program</th><th>Design</th><th>Developement</th>
            </tr>
    -->
            <!--option 1
            <tr *ngFor="let aircraft of aircrafts">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>            
            -->
            <!--option 2
            
            <tr *ngFor="let aircraft of aircrafts$ | async">
                <td>{{aircraft.msn}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>-->
        <!--option 1-2
        </table>
    </ng-container>-->
</div>