<ng-container *ngIf="aircraftsState$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="aircraftsStateEnum.INITIAL">
        <div class="p-2"> Initial State</div>
    </ng-container>
    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADING">
        <div class="p-2">Loading</div>
    </ng-container>
    <ng-container *ngSwitchCase="aircraftsStateEnum.LOADED">
        <div class="p-2">Loaded</div>
    </ng-container>
    <ng-container *ngSwitchCase="aircraftsStateEnum.ERROR">
        <div class="p-2 text-danger">{{result.errorMessage}}</div>
    </ng-container>
    <table class="table">
        <tr>
            <th>Id</th><th>Programme</th><th>Etude</th><th>Conception</th>
        </tr>
        <tr *ngFor="let aircraft of result.aircrafts">
            <td>{{aircraft.msn}}</td>
            <td>{{aircraft.prog}}</td>
            <td>{{aircraft.design ? 'Oui' : 'Non'}}</td>
            <td>{{aircraft.development ? 'Oui' : 'Non'}}</td>
        </tr>
    </table>
</ng-container>